@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* smooth scroll for page nav links */
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
}

p, li, a, label {
    font-family: 'Alata', sans-serif;
}

/* All below is the header and nav bar styling */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    background-color:rgba(255, 255, 255, 0.8);
}

#header-logo {
    cursor: pointer;
    height: 35px;
    margin-right: auto;
    background-color:rgba(0, 0, 0, 0);
}

#contact-input, #burger-input {
    visibility: hidden;
}

#hidden-form {
    visibility: hidden;
    position: fixed;
}

#burger-menu {
    position: fixed;
    right: 20px;
}

#nav-placeholder {
    width: 100%;
    height: 45px;
}

.nav-links li {
    position: relative;
    top: -150px;
    right: -50px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: right;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.nav-links li:hover {
    background-color: rgba(200, 200, 200, 0.2);
    font-weight: 800;
}

#contact-input {
    height: 0px;
}

.nav-links li div label, #contact-input {
    background-color: grey;
    display: block; 
}

.nav-links li, #burger-menu {
    list-style: none;
    display: block;
    padding: 15px 10px;
}

/* Below here is Hero image and title styles */

#title-page-top {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#title-page-top span {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

#hero-image-index {
    position: relative;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    margin:0 auto;
}

/* Below here is the about section styling */

h2 {
    text-align: center;
    margin: 10px 0;
}

p {
    font-size: 18px;
}

.margin-sides {
    margin: 0 10%;
}

/* all below is the waterdoplet styling */

#water-drop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
}

#water-drop {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* below here is the media queries in a mobile first style */

@media screen and (min-width: 480px) {
    /* header and nav bar media queries */
    .nav-links li div {
        display: flex;
    }
    .nav-links li, .nav-links li div label {
        position: static;
        display: flex;
        padding-right: 0;
        margin: 0;
        width: auto;
        background-color: rgba(0, 0, 0, 0);
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 10%;
    }
    #burger-menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
/* title and hero image media queries */
    #title-page-top {
        position: absolute;
        top: 385px;
        right: 25px;
        text-align: right;
        font-size: 45px;
        font-weight: 900;
        z-index: 1;
        background-color: rgba(200, 200, 200, 0.5);
        padding: 5px 25px;
        border-radius: 10px;
    }
    #title-page-top span {
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) {
    #title-page-top {
        top: 535px;
    }
}