@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* smooth scroll for page nav links */
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
}

p, li, a, label {
    font-family: 'Alata', sans-serif;
}

/* All below is the header and nav bar styling */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
    background-color:rgba(255, 255, 255, 0.8);
}

#header-logo {
    cursor: pointer;
    height: 35px;
    margin-right: auto;
    background-color:rgba(0, 0, 0, 0);
}

#contact-input, #burger-input {
    visibility: hidden;
}

#hidden-form {
    visibility: hidden;
    position: fixed;
}

#burger-menu {
    position: fixed;
    right: 20px;
}

#nav-placeholder {
    width: 100%;
    height: 45px;
}

.nav-links li {
    position: relative;
    top: -150px;
    right: -50px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0);
    justify-content: right;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.nav-links li:hover {
    background-color: rgba(200, 200, 200, 0.2);
    font-weight: 800;
}

#contact-input {
    height: 0px;
}

.nav-links li div label, #contact-input {
    background-color: grey;
    display: block; 
}

.nav-links li, #burger-menu {
    list-style: none;
    display: block;
    padding: 15px 10px;
}

/* Below here is Hero image and title styles */

#title-page-top {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#title-page-top span {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

#hero-image-index {
    position: relative;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    margin:0 auto;
}

/* Below here is the about section styling */

h2 {
    text-align: center;
    margin: 10px 0;
}

p {
    font-size: 18px;
}

.margin-sides {
    margin: 0 10%;
}

/* all below is the waterdoplet styling */

#water-drop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
}

#water-drop {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eee;
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, .9), -25px -10px 10px rgba(0, 0, 0, .05), -25px -30px 20px rgba(0, 0, 0, .05), inset -10px -10px 15px rgba(0, 0, 0, .05), 10px 10px 10px rgba(255, 255, 255, 0.8);
}

#water-drop::before {
    content: " ";
    position: absolute;
    bottom: 35px;
    left: 151px;
    width: 30px;
    height: 30px;
    border-radius: 70% 40% 50% 50%;
    background-color: rgba(255, 255, 255, .7);
}

#water-drop::after {
    content: " ";
    position: absolute;
    bottom: 65px;
    left: 182px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .9);
}

.logo-apple {
    height: 150px;
    width: 150px;
    background-color: rgba(0,0,0,0);
    position: relative;
    bottom: 8px;
    color: #444;
}

/* below here is the testimonial section styling */

#testimonial-background-container {

    padding-bottom: 30px;
    /* reference taken from https://www.magicpattern.design/tools/css-backgrounds to add contrasting background which will show off glass style cards */
    background-color: #e4e4fd;
    opacity: 0.6;
    background-image:  linear-gradient(30deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b), linear-gradient(150deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b), linear-gradient(30deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b), linear-gradient(150deg, #4b4b4b 12%, transparent 12.5%, transparent 87%, #4b4b4b 87.5%, #4b4b4b), linear-gradient(60deg, #4b4b4b77 25%, transparent 25.5%, transparent 75%, #4b4b4b77 75%, #4b4b4b77), linear-gradient(60deg, #4b4b4b77 25%, transparent 25.5%, transparent 75%, #4b4b4b77 75%, #4b4b4b77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.testimonial-card {
    height: 315px;
    min-width: 300px;
    max-width: 45%;
    margin: 45px auto;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 23px rgba(0,0,0,0.15);
    position: relative;
    top: 30px;
    bottom: -30px;
    padding: 50px 25px;
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    border-radius: 13px;
}

/* below here is the media queries in a mobile first style */

@media screen and (min-width: 480px) {
    /* header and nav bar media queries */
    .nav-links li div {
        display: flex;
    }
    .nav-links li, .nav-links li div label {
        position: static;
        display: flex;
        padding-right: 0;
        margin: 0;
        width: auto;
        background-color: rgba(0, 0, 0, 0);
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 10%;
    }
    #burger-menu {
        display: none;
    }
}

@media screen and (min-width: 768px) {
/* title and hero image media queries */
    #title-page-top {
        position: absolute;
        top: 385px;
        right: 25px;
        text-align: right;
        font-size: 45px;
        font-weight: 900;
        z-index: 1;
        background-color: rgba(200, 200, 200, 0.5);
        padding: 5px 25px;
        border-radius: 10px;
    }
    #title-page-top span {
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px) {
    #title-page-top {
        top: 535px;
    }
}