@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* smooth scroll for page nav links */
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
}

p, li, a, label {
    font-family: 'Alata', sans-serif;
}

ul {
    list-style-type: none;
}

/* All below is the header and nav bar styling */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 5%;
    background-color:rgba(255, 255, 255, 0.95);
}

#header-logo {
    cursor: pointer;
    height: 35px;
    margin-right: auto;
    background-color:rgba(0, 0, 0, 0);
}

#nav-placeholder {
    width: 100%;
    height: 45px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
}

.nav-links li a {
    position: static;
    display: flex;
    padding: 0 10px;
    margin: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
    justify-content: right;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    list-style-type: none;
    text-decoration: none;
    color: #111;
    font-weight: 800;
}

.nav-links li a:hover {
    background-color: rgba(200, 200, 200, 0.2);
    font-weight: 800;
}

/* Below here is Hero image and title styles */

#title-page-top {
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

#title-page-top span {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
}

#hero-image-index {
    position: relative;
    width: 100%;
    max-height: 90vh;
    object-fit: cover;
    margin:0 auto;
}

/* Below here is the about section styling */

h2 {
    text-align: center;
    margin: 10px 0;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.margin-sides {
    margin: 0 10%;
}

/* below is for the pixar image */

#pixar-image img {
    max-width: 100vw;
    min-width: 100vw;
}

#pixar-image-shoutout {
    font-size: 6px;
    float: right;
}

/* below is Milestones section styling */

#milestones-title {
    text-align: center;
    font-size: 22px;
    margin: 20px auto;
}

details {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #24252A;
    color:rgb(80, 80, 250);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, .18);
    padding: 25px;
    font-size: 12px;
}

summary {
    cursor: pointer;
    background-color: inherit;
    color: inherit;
}

summary h3 {
    display: inline;
}

details p {
    margin-left: 15px;
    font-size: small;
}

/* all below is the waterdoplet styling */

#water-drop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
}

#water-drop {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70% 60% 70% 50%;
    background-color: #eee;
    box-shadow: inset 10px 10px 10px rgba(255, 255, 255, .9), -25px -10px 10px rgba(0, 0, 0, .05), -25px -30px 20px rgba(0, 0, 0, .05), inset -10px -10px 15px rgba(0, 0, 0, .05), 15px 15px 10px rgba(255, 255, 255, 0.8);
}

#water-drop::before {
    content: " ";
    position: absolute;
    bottom: 35px;
    left: 151px;
    width: 30px;
    height: 30px;
    border-radius: 70% 40% 50% 50%;
    background-color: rgba(255, 255, 255, .7);
}

#water-drop::after {
    content: " ";
    position: absolute;
    bottom: 65px;
    left: 182px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .9);
}

.logo-apple {
    height: 150px;
    width: 150px;
    background-color: rgba(0,0,0,0);
    position: relative;
    bottom: 8px;
    color: #444;
}

/* below here is the testimonial section styling */

#testimonial-title {
    margin-top: 40px;
}

#testimonial-background-container {
    padding-bottom: 30px;
    background:linear-gradient(270deg, #00b0bd, #007b84);
}

.testimonial-card {
    height: auto;
    min-width: 300px;
    max-width: 45%;
    margin: 45px auto;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 23px rgba(0,0,0,0.15);
    position: relative;
    top: 30px;
    bottom: -30px;
    padding: 50px 25px;
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    border-radius: 13px;
}

.testimonial-card-title {
    font-weight: 900;
    margin-top: -30px;
    margin-bottom: 15px;
}

.testimonial-card-main-text {
    text-align: center;
    font-style: italic;
}

.testimonial-card-name {
    margin-top: 25px;
    float: right;
    font-weight: 900;
}

.testimonial-card-name, .testimonial-card-main-text, .testimonial-card-title {
    color: black;
}

/* below is the further links styling */

#further-links-header {
    font-size: 26px;
    text-align: center;
    margin: 30px auto;
}

#further-links-description {
    padding-bottom: 40px;
}

#further-links-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.further-link-thumbnail h5 {
    position: absolute;
    z-index: 1;
    font-size: 32px;
    transform: translate(-20px,-30px);
    background-color: rgba(0,0,0,0);
    color: rgb(0, 0, 255);
}

.further-link-thumbnail img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 75px;
}

.further-link-thumbnail img:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,0.4);
    border: 1px solid rgb(0, 0, 255);
}

/* below is the footer section styles */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #24252A;
    padding: 20px 10px;
}

footer h6 {
    font-size: 28px;
}

footer h6 span {
    font-size: 15px;
}

#footer-logo {
    width: 100px;
}

.footer-section {
    background-color: #24252A;
    padding: 20px;
    margin: auto;
    font-size: 30px;
    text-align: center;
    min-width: 250px;
    max-width: 250px;
    color: rgb(80, 80, 250);
}

.footer-section p {
    font-size: small;
}

.footer-social-logo {
    width: 20%;
    margin: 0 10px;
    padding: 0;
    float: left;
}

.footer-social-logo:hover {
    width: 19%;
    margin-right: 12px;
}

/* contact & thanks page style is below here */

textarea, input[type="text"], input[type="email"] {
    background-color: white;
    color: black;
    border: solid 1px rgb(0, 117, 252);
    border-radius: 5px;
    width: 100%;
    margin: 10px auto;
  }

#contact-hero-image {
    width: 100%;
}

#contact-form, #contact-form-thankyou {
    width:300px;
    margin: 10px auto;
    font-size: 12px;
}

#contact-form h1, #contact-form-thankyou h1, #contact-form-thankyou p {
    text-align: center;
    margin: 20px auto;
    padding-top: 25px;
}

#contact-form input[type="submit"] {
    color: black;
    padding: 9px 35px;
    margin-top: 10px;
    margin-left: 32%;
    background-color: rgb(0, 117, 252);
    border: none;
    border-radius: 50px;
    cursor: pointer ;
    transition: all 0.3s ease 0s;
}

#thumbsup-pic {
    max-width: 100%;
}

/* below is the return links styling on 404 page and thanks page */

#return-links {
    display: flex;
    justify-content: space-around;
}

#return-links li a {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    padding: 2px 15px;
    border-radius: 10px;
}

#return-links li a:hover {
    font-weight: 900;
    background-color: #616161;
}

.return-links {
    margin: 10px auto;
}

/*  below is 404 page styling */

#fourzerofour-hero-image {
    width: 100%;
}

/* below here is the media queries in a mobile first style */

@media screen and (min-width: 768px) {
/* title and hero image media queries */
    #title-page-top {
        position: absolute;
        top: 385px;
        right: 25px;
        text-align: right;
        font-size: 45px;
        font-weight: 900;
        z-index: 1;
        background-color: rgba(200, 200, 200, 0.5);
        padding: 5px 25px;
        border-radius: 10px;
    }
    #title-page-top span {
        font-size: 15px;
    }
    #contact-form-container {
        position: relative;
        background-color: #fff;
        width: 340px;
        height: fit-content;
        left: 15px;
        top: -280px;
        margin-bottom: -240px;
        border-radius: 10px;
    }
    .return-links {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    #title-page-top {
        top: 535px;
    }
    #contact-form-container {
        position: absolute;
        top: 45px;
    }
    #contact-form, #contact-form-thankyou {
        width: 80%;
    }
}