@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  /* smooth scroll for page nav links */
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
}

p, li, a, label {
    font-family: 'Alata', sans-serif;
}

/* All below is the header and nav bar styling */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
}

#header-logo {
    cursor: pointer;
    height: 35px;
    margin-right: auto;
}

#contact-input, #burger-input {
    visibility: hidden;
}

#hidden-form {
    visibility: hidden;
    position: fixed;
}

#burger-menu {
    position: fixed;
    right: 20px;
}

.nav-links li {
    position: relative;
    top: 150px;
    right: -50px;
    width: 250px;
    background-color: grey;
    justify-content: right;
}

#contact-input {
    height: 0px;
}

.nav-links li div label, #contact-input {
    background-color: grey;
    display: block; 
}

.nav-links li, #burger-menu {
    list-style: none;
    display: block;
    padding: 15px 10px;
}

/* below here is the media queries in a mobile first style */

@media screen and (min-width: 780px) {
    /* header and nav bar media queries */
    .nav-links li div {
        display: flex;
    }
    .nav-links li, .nav-links li div label {
        position: static;
        display: flex;
        padding-right: 0;
        margin: 0;
        width: auto;
        background-color: #fff;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 5px 10%;
    }
    #burger-menu {
        display: none;
    }
}